<?xml version='1.0'?>
<launch>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find lasis_vehicle)/config/lasis_vehicle.yaml" command="load"/>
    <!-- load the controllers -->
    <node
        pkg = "controller_manager"
        type = "spawner"
        name = "controller_manager"
        respawn = "false"
        output = "screen"
        ns = "/lasis_vehicle"
        args = "
            wheel_fl_velocity_controller wheel_fr_velocity_controller
            wheel_rl_velocity_controller wheel_rr_velocity_controller
            bracket_l_position_controller bracket_r_position_controller
            joint_state_controller
            "
    />
    <!-- convert joint states to TF transforms for rviz, etc -->
    <node
        name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        respawn="false"
        output="screen">
        <remap from="/joint_states" to="/lasis_vehicle/joint_states" />
    </node>
    <!-- servo node -->
    <!-- Allow for Gazebo to broadcast odom -->
</launch>