<launch>
    <arg name = "world_path" default = "$(find lasis_launch)/worlds" />
    <arg name = "world_name" default = "racecar_runway" />
    <arg name = "use_amcl" default = "false"/>
    <arg name = "use_cmd_vel" default = "true"/>
    <arg name = "map_name" default = "map_with_cone"/>
    <arg name = "x_pos" default = "-5.388334"/>
    <arg name = "y_pos" default = "-4.094883"/>
    <arg name = "rviz_file" default = "navigation.rviz"/>
    <arg name = "base_global_planner" default = "navfn/NavfnROS"/>
    <arg name = "base_local_planner" default = "teb_local_planner/TebLocalPlannerROS"/>
    <arg name = "show_vel_profile" default = "false"/>
    <arg name = "show_phase_portrait" default = "false"/>

    <!-- <arg name="base_local_planner" default="base_local_planner/myBaseLocalPlannerROS"/> -->

    <!-- <arg name = "rviz_file" default = "navigation_debug.rviz"/> -->

    <!-- 生成世界及小车 -->
    <include file = "$(find lasis_launch)/launch/spawn_racecar.launch">
        <arg name = "world_name" value = "$(arg world_name)" />
        <arg name = "world_path" value = "$(arg world_path)" />
        <arg name = "use_amcl" value = "$(arg use_amcl)"/>
        <arg name = "gui" value = "false" />
        <arg name = "x_pos" value = "$(arg x_pos)"/>
        <arg name = "y_pos" value = "$(arg y_pos)"/>
    </include>
    <!-- 地图服务器 -->
    <node name = "map_server" pkg = "map_server" type = "map_server" args = "$(find lasis_launch)/map/$(arg map_name).yaml" />
    <!-- amcl 节点 -->
    <group if = "$(arg use_amcl)">
        <include file = "$(find lasis_launch)/include/amcl.launch">
            <arg name = "initial_pose_x" value = "$(arg x_pos)"/>
            <arg name = "initial_pose_y" value = "$(arg y_pos)"/>
            <arg name = "initial_pose_a" value = "0.0"/>
            <arg name = "use_map_topic"  value = "true"/>
        </include>
    </group>
    <!-- move_base 节点 -->
    <param name = "/use_sim_time" value = "true"/>
    <include file = "$(find lasis_launch)/include/move_base.launch">
        <arg name = "base_global_planner" value = "$(arg base_global_planner)"/>
        <arg name = "base_local_planner" value = "$(arg base_local_planner)"/>
    </include>
    <!-- 轨迹转化为 ackermann 命令 -->
    <group unless = "$(arg use_cmd_vel)">
        <node pkg = "lasis_launch" type = "path_pure_pursuit" name = "path_pure_pursuit_node" respawn = "true" respawn_delay = "5">
            <remap from = "local_plan_input" to = "/move_base/TebLocalPlannerROS/local_plan"/>
            <remap from = "ackermann_commond_output" to = "/vesc/high_level/ackermann_cmd_mux/input/nav_0"/>
        </node>
    </group>
    <!-- 使用 cmd_vel 到 ackermann 节点 -->
    <group if = "$(arg use_cmd_vel)">
        <node pkg = "teb_local_planner" type = "cmd_vel_to_ackermann_drive.py" name = "twist_to_ackermann">
            <remap from = "/cmd_vel" to = "/cmd_vel"/>
            <remap from = "/ackermann_cmd" to = "/vesc/high_level/ackermann_cmd_mux/input/nav_0"/>
        </node>
    </group>
    <!-- rviz 窗口 -->
    <node
        pkg = "rviz"
        type = "rviz"
        name = "rviz_window"
        args = "-d $(find lasis_launch)/rviz/$(arg rviz_file)"
    />
    <group if = "$(arg show_vel_profile)">
        <node
            pkg = "my_local_planner_plugin"
            type = "visualize_velocity_profile.py"
            name = "vel_profile_window"
        />
    </group>
    <group if = "$(arg show_phase_portrait)">
        <node pkg = "my_local_planner_plugin" type = "phase_portrait.py" name = "phase_portrait_window">
            <remap from = "/vesc/odom" to = "/vesc/odom"/>
            <remap from = "/amcl_pose" to = "/amcl_pose"/>
        </node>
    </group>
</launch>