<launch>
    <!-- 参数 -->
    <arg name = "world_path" default = "$(find lasis_launch)/worlds" />
    <arg name = "world_name" default = "racecar" />
    <arg name = "gui" default = "true" />
    <arg name = "run_camera" default = "false"/>
    <arg name = "x_pos" default = "-5.388334"/>
    <arg name = "y_pos" default = "-4.094883"/>
    <arg name = "z_pos" default = "0.0"/>
    <arg name = "use_amcl" default = "false"/>
    <!-- 启动文件 -->
    <include file = "$(find racecar_gazebo)/launch/racecar.launch">
        <arg name = "x_pos" value = "$(arg x_pos)"/>
        <arg name = "y_pos" value = "$(arg y_pos)"/>
        <arg name = "z_pos" value = "$(arg z_pos)"/>
        <arg name = "use_amcl" value = "$(arg use_amcl)"/>
        <arg name = "world_name" value = "$(arg world_name)" />
        <arg name = "world_path" value = "$(arg world_path)" />
        <arg name = "gui" value = "$(arg gui)" />
        <arg name = "run_camera" value = "$(arg run_camera)"/>
    </include>
</launch>