<?xml version="1.0"?>
<robot name="lasis_vehicle" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name = "mu_value" default = "1.8"/>
    <xacro:arg name = "kp_value" default = "30000"/>
    <xacro:arg name = "wheel_color" default = "gray"/>
    <xacro:arg name = "wheel_radius" default = "0.1"/>
    <xacro:arg name = "wheel_width" default = "0.1"/>
    <xacro:arg name = "wheel_mass" default = "0.5"/>
    <xacro:arg name = "wheel_ixx" default = "0.002"/>
    <xacro:arg name = "wheel_iyy" default = "0.002"/>
    <xacro:arg name = "wheel_izz" default = "0.003"/>
    <xacro:include filename="$(find lasis_vehicle)/urdf/macros.xacro"/>
    <xacro:include filename="$(find lasis_vehicle)/urdf/materials.xacro"/>
    <xacro:include filename="$(find lasis_vehicle)/urdf/lasis_vehicle.gazebo"/>
    <!-- links -->
    <link name = "base_link"/>
    <xacro:chassis/>
    <xacro:wheel subfix = "fl"/>
    <xacro:wheel subfix = "fr"/>
    <xacro:wheel subfix = "rl"/>
    <xacro:wheel subfix = "rr"/>
    <xacro:bracket subfix = "l"/>
    <xacro:bracket subfix = "r"/>
    <!-- joints -->
    <xacro:chassis_to_base/>
    <xacro:bracket_to_chassis side = "l" value = "1"/>
    <xacro:bracket_to_chassis side = "r" value = "-1"/>
    <xacro:front_wheel_joint side = "l"/>
    <xacro:front_wheel_joint side = "r"/>
    <xacro:rear_wheel_joint side = "l" value = "1"/>
    <xacro:rear_wheel_joint side = "r" value = "-1"/>
    <!-- transmissions -->
    <xacro:front_wheel_transmission side = "l"/>
    <xacro:front_wheel_transmission side = "r"/>
    <xacro:rear_wheel_transmission side = "l"/>
    <xacro:rear_wheel_transmission side = "r"/>
    <xacro:front_wheel_steering side = "l"/>
    <xacro:front_wheel_steering side = "r"/>
</robot>