<launch>
    <node
        pkg = "topicPubSub"
        type = "myTalker"
        name = "my_talker_node"
        output = "screen"
    />
    <node
        pkg = "topicPubSub"
        type = "myListener"
        name = "my_listener_node"
        output = "screen"
    />
    <node
        pkg = "rqt_graph"
        type = "rqt_graph"
        name = "rqt_graph_debug_node"
    />
</launch>